# Environment
.venv
venv/
.env

# Logs & Databases
jfa_bot.log
jfa_bot.db

# Python cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache

*__pycache__

# Other files and folders
config.yaml
PROJECT.md
.cursor
